{% extends './base.html' %}
{% load bootstrap4 %}
{% block content %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">

    <!-- Content Header (Page header) -->
    <div class="content-header">

      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">ファイル削除完了</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="{% url 'main:index' %}">Home</a></li>
              <li class="breadcrumb-item active">Dashboard v1</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">

    {% comment %} Main row {% endcomment %}
      <div class="row">
        <div class="col-12">

          {% comment %} card test {% endcomment %}
          <div class="card card-purple">
            
            <!-- .card-header -->
            <div class="card-header">
              <div class="card-title">
               <h3><b>選択したExcelファイル削除が完了しました。</b></h3>
              </div>
            </div>
            <!-- /.card-header -->

            <!-- card-body -->
            <div class="card-body">
              <div class="form-group">
                <hr>
                <b>選択したファイル一覧</b><br>
                <ul class="list-group">
                  {% for file in checks_value %}
                  <li class="list-group-item alert alert-success alert-dismissable" role="alert">
                    {{ file }}
                  </li>
                  {% endfor %}
                </ul>

                <div class="text-center">
                  <a href="{% url 'main:index' %}" class="btn btn-primary btn-sm" role="button">戻る</a>
                  <a href="{% url 'main:list' %}" class="btn btn-primary btn-sm" role="button">一覧表示画面へ</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<!-- /.content -->
<!-- /.content-wrapper -->
{% endblock content %}