{% extends './base.html' %}
{% load static %}

{% block content %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">

    <!-- Content Header (Page header) -->
    <div class="content-header">

      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">PDFアップロード</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Dashboard v1</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
      <div class="container-fluid">

        {% comment %} Main row {% endcomment %}
        <div class="row">
          <div class="col-12">

            {% comment %} card test {% endcomment %}
            <div class="card card-purple">
              <!-- .card-header -->
              <div class="card-header">
                <div class="card-title">
                  <h3>変換</h3>
                  <p>※PDFは一括アップロード可能です。</p>
                </div>
              </div>
              <!-- /.card-header -->

              <!-- card-body -->
              <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="card-body">
                  <div class="form-group">
                    <div class="control-group" id="userName">
                      <label class="col-lg-5 col-form-label"><h4>{{ form.document.label }}</h4></label><br>
                      <div class="form-group has-feedback">
                        {{ form.document }}
                      </div>
                    </div>
                  </div>
                </div>
                <!-- /.card-body -->

                <div class="card-footer text-center">
                  <button type="submit" class="btn btn-secondary">アップロード</button>
                </div>

              </form>
              {% comment %} /form start {% endcomment %}
              {% if form.errors %}<hr>
              <div class="alert alert-danger alert-dismissible" role="alert">
                <ファイルの種類を確認してください。<br>PDFファイル以外はアップロードできません。</p>
              </div>
              {% endif %}
            </div>
            {% comment %} /card test {% endcomment %}
            
          </div>
        </div>
        {% comment %} /Main row {% endcomment %}

      </div>
    </div>
    <!-- /.content -->

  </div>
  <!-- /.content-wrapper -->
{% endblock content %}